.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-image: url(/Assests/mario.gif); */
  background-repeat: no-repeat;
  background-size: contain;
}

html,
body {
  height: 100%;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.formclass {
  width: 30%;
  padding: 20px;
  /* background-color: #ffffff; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  backdrop-filter: blur(5px);
}
.title {
  font-size: 3rem;
}

.formclass input {
  width: 70%;
  height: 2rem;
  padding: 0.5rem;
  outline: none;
}
#login-button {
  width: 4rem;
  height: 2rem;
  outline: none;
}
